@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ul li:nth-child(odd) {
  list-style-type: upper-roman;
  padding: 5px;
}

::marker {
  color: red;
  font-family: Fantasy;
  padding: 5px;
  font-size: 1rem;
  content: "For only $5 >>>>> ";
}